.payment-summary{
    background:#ffffff;
    border-radius:20px;
    padding:25px;
    margin-top:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.payment-summary h2{
    margin-bottom:20px;
    color:#173a2d;
    font-size:20px;
    font-weight:700;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin:14px 0;
    font-size:15px;
}

.summary-row span{
    color:#7b7b7b;
}

.summary-row strong{
    color:#222;
}

.total-amount{
    display:flex;
    align-items:center;
    gap:15px;
    margin:20px 0;
    padding-top:16px;
    border-top:1px solid #ececec;
}

.total-amount svg{
    font-size:38px;
    color:#d45716;
}

.total-amount p{
    margin:0;
    color:#7b7b7b;
}

.total-amount h1{
    margin:5px 0 0;
    color:#173a2d;
    font-size:32px;
}

.pay-now-btn{
    width:100%;
    background:#d45716;
    color:white;
    border:none;
    padding:15px;
    border-radius:50px;
    font-size:16px;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:.3s;
}

.pay-now-btn:hover{
    background:#b7440d;
    transform:translateY(-2px);
}

@media(max-width:768px){

.payment-summary{
margin-top:15px;
padding:20px;
}

.summary-row{
font-size:14px;
}

.total-amount h1{
font-size:26px;
}

}
