.table-card{

background:#fff;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.05);

overflow-x:auto;

}

.table-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.table-header h2{

font-size:24px;

color:#222;

}

.table-header button{

border:none;

background:none;

color:#198754;

font-weight:600;

cursor:pointer;

}

table{

width:100%;

border-collapse:collapse;

min-width:950px;

}

th{

background:#f7f8fb;

padding:18px;

text-align:left;

font-size:14px;

color:#666;

}

td{

padding:18px;

border-bottom:1px solid #eee;

}

tr:hover{

background:#fafafa;

}

.badge{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

display:inline-block;

}

.vegetablewaste{

background:#d1fae5;

color:#15803d;

}

.fruitwaste{

background:#ffedd5;

color:#ea580c;

}

.cookedfood{

background:#dbeafe;

color:#2563eb;

}

.mixedwaste{

background:#ede9fe;

color:#7c3aed;

}

.view-btn{

padding:10px 16px;

border:2px solid #198754;

background:white;

color:#198754;

border-radius:8px;

cursor:pointer;

margin-right:10px;

font-weight:600;

transition:.3s;

}

.view-btn:hover{

background:#198754;

color:white;

}

.pay-btn{

padding:10px 16px;

background:#198754;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.pay-btn:hover{

background:#157347;

}