.dashboard{

display:flex;

height:100vh;

overflow:hidden;

}

.main-content{

margin-left:270px;

height:100vh;

overflow-y:auto;

}

.content{
    display:grid;
    grid-template-columns: 2.4fr 1fr;
    gap:20px;
    margin-top:20px;
}

.left-panel{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.right-panel{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.bottom-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}