/* .navbar{

    background:white;

    padding:20px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 2px 5px rgba(0,0,0,.08);

}

.navbar input{

    width:350px;

    padding:12px;

    border-radius:8px;

    border:1px solid #ddd;

}

.nav-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.bell{

    font-size:22px;

    cursor:pointer;

}

.nav-right button{

    background:#0b4b36;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:8px;

    cursor:pointer;

} */